# Globs
*.la
*.lo
*.log
*.o
*.out
*.tar.gz
*.tar.gz.asc
*.tar.xz
*.tar.xz.asc
*.trs
*.x
*~

/src/skels/*.cc
/src/skels/*.h
/tests/*.sh

# Directories
.deps
.libs
/autom4te.cache
/build
/build-aux/*
/gl

# Files
.dirstamp
Makefile
Makefile.in
test-suite.log

/ChangeLog
/INSTALL
/NEWS
/TAGS
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4



# TODO: Consolidate at least some of these directories and ignore those.

# doc
/doc/cmdline1.c
/doc/cmdline1.h
/doc/cmdline1.h.texi
/doc/cmdline2.c
/doc/cmdline2.h
/doc/gengetopt.1
/doc/gengetopt.html
/doc/gengetopt.info
/doc/help_modes.output.texi
/doc/help_output.texi
/doc/index.html
/doc/index.info
/doc/main1.cc.texi
/doc/multiple_example.c.texi
/doc/sample1
/doc/sample1.ggo.texi
/doc/sample1.output.texi
/doc/sample1_2.output.texi
/doc/test_conf_parser.c.texi
/doc/test_conf_parser_ov2.c.texi
/doc/test_modes_cmd.ggo.texi
/doc/test_multiple_parsers.c.texi

# tests
/tests/canonize-names
/tests/canonize-names-cmd.c
/tests/canonize-names-cmd.h
/tests/cmdline.c
/tests/cmdline.h
/tests/default_cmdline
/tests/default_values
/tests/default_values_cmd.c
/tests/default_values_cmd.h
/tests/more_than_once
/tests/more_than_once_cmd.c
/tests/more_than_once_cmd.h
/tests/no_multi_strings
/tests/no_multi_strings_cmd.c
/tests/no_multi_strings_cmd.h
/tests/no_multi_types
/tests/no_multi_types_cmd.c
/tests/no_multi_types_cmd.h
/tests/no_optgiven
/tests/no_optgiven2
/tests/no_optgiven_cmd.c
/tests/no_optgiven_cmd.h
/tests/no_prog_name
/tests/no_strings
/tests/no_strings_cmd.c
/tests/no_strings_cmd.h
/tests/no_unnamed
/tests/no_unnamed_cmd.c
/tests/no_unnamed_cmd.h
/tests/output_dir/cmdline.c
/tests/output_dir/cmdline.h
/tests/output_dirs/c/cmdline.c
/tests/output_dirs/h/cmdline.h
/tests/test_align_cmd.c
/tests/test_align_cmd.h
/tests/test_all_opts
/tests/test_all_opts.save
/tests/test_all_opts_cmd.c
/tests/test_all_opts_cmd.h
/tests/test_all_opts_option_help
/tests/test_conf.conf
/tests/test_conf_inc.conf
/tests/test_conf_parser
/tests/test_conf_parser.save
/tests/test_conf_parser_cmd.c
/tests/test_conf_parser_cmd.h
/tests/test_conf_parser_file_save
/tests/test_conf_parser_ov
/tests/test_conf_parser_ov2
/tests/test_conf_parser_ov2.c
/tests/test_conf_parser_ov3
/tests/test_conf_parser_ov3.c
/tests/test_conf_parser_ov4
/tests/test_conf_parser_ov4.c
/tests/test_first_cmdline_cmd.c
/tests/test_first_cmdline_cmd.h
/tests/test_groups
/tests/test_groups_cmd.c
/tests/test_groups_cmd.h
/tests/test_groups_flags
/tests/test_groups_flags_cmd.c
/tests/test_groups_flags_cmd.h
/tests/test_groups_option_help
/tests/test_main_cmdline_cmd.c
/tests/test_main_cmdline_cmd.h
/tests/test_manual_help
/tests/test_manual_help_args
/tests/test_manual_help_args_cmd.c
/tests/test_manual_help_args_cmd.h
/tests/test_manual_help_cmd.c
/tests/test_manual_help_cmd.h
/tests/test_modes
/tests/test_modes_cmd.c
/tests/test_modes_cmd.h
/tests/test_modes_option_help
/tests/test_multiple
/tests/test_multiple.save
/tests/test_multiple_cmd.c
/tests/test_multiple_cmd.h
/tests/test_multiple_parsers
/tests/test_newlines
/tests/test_newlines_cmd.c
/tests/test_newlines_cmd.h
/tests/test_no_handle_help
/tests/test_no_handle_help_cmd.c
/tests/test_no_handle_help_cmd.h
/tests/test_no_options
/tests/test_no_options_cmd.c
/tests/test_no_options_cmd.h
/tests/test_only_flags
/tests/test_only_flags_cmd.c
/tests/test_only_flags_cmd.h
/tests/test_redef_help
/tests/test_redef_help_cmd.c
/tests/test_redef_help_cmd.h
/tests/test_second_cmdline_cmd.c
/tests/test_second_cmdline_cmd.h
/tests/test_sections
/tests/test_sections_cmd.c
/tests/test_sections_cmd.h
/tests/test_sections_option_help
/tests/test_simple_multiple
/tests/test_simple_multiple_cmd.c
/tests/test_simple_multiple_cmd.h
/tests/test_text
/tests/test_text_cmd.c
/tests/test_text_cmd.h
/tests/test_unamed
/tests/test_unamed_cmd.c
/tests/test_unamed_cmd.h
/tests/test_unnamed
/tests/test_unnamed_cmd.c
/tests/test_unnamed_cmd.h
/tests/test_usage
/tests/test_usage_cmd.c
/tests/test_usage_cmd.h
/tests/test_values
/tests/test_values.save
/tests/test_values_cc
/tests/test_values_cmd.c
/tests/test_values_cmd.h

# src
/src/cmdline.c
/src/cmdline.h
/src/gengetopt
/src/parser.cc
/src/parser.h
/src/scanner.cc
/src/tests/test_specialchars
