/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/cmdline1.c
/doc/cmdline1.h
/doc/cmdline1.h.texi
/doc/cmdline2.c
/doc/cmdline2.h
/doc/gengetopt.1
/doc/gengetopt.html
/doc/gengetopt.info
/doc/help_modes.output.texi
/doc/help_output.texi
/doc/index.html
/doc/index.info
/doc/main1.cc.texi
/doc/multiple_example.c.texi
/doc/sample1
/doc/sample1.ggo.texi
/doc/sample1.output.texi
/doc/sample1_2.output.texi
/doc/test_conf_parser.c.texi
/doc/test_conf_parser_ov2.c.texi
/doc/test_modes_cmd.ggo.texi
/doc/test_multiple_parsers.c.texi
/gl/arg-nonnull.h
/gl/c++defs.h
/gl/string.h
/gl/unistd.h
/gl/warn-on-use.h
/libtool
/src/cmdline.c
/src/cmdline.h
/src/gengetopt
/src/parser.cc
/src/parser.h
/src/scanner.cc
/src/skels/c_source.cc
/src/skels/c_source.h
/src/skels/check_modes.cc
/src/skels/check_modes.h
/src/skels/clear_arg.cc
/src/skels/clear_arg.h
/src/skels/clear_given.cc
/src/skels/clear_given.h
/src/skels/copyright.cc
/src/skels/copyright.h
/src/skels/custom_getopt_gen.cc
/src/skels/custom_getopt_gen.h
/src/skels/dependant_option.cc
/src/skels/dependant_option.h
/src/skels/enum_decl.cc
/src/skels/enum_decl.h
/src/skels/exit_failure.cc
/src/skels/exit_failure.h
/src/skels/file_save.cc
/src/skels/file_save.h
/src/skels/file_save_multiple.cc
/src/skels/file_save_multiple.h
/src/skels/free_list.cc
/src/skels/free_list.h
/src/skels/free_multiple.cc
/src/skels/free_multiple.h
/src/skels/free_string.cc
/src/skels/free_string.h
/src/skels/generic_option.cc
/src/skels/generic_option.h
/src/skels/given_field.cc
/src/skels/given_field.h
/src/skels/group_counter.cc
/src/skels/group_counter.h
/src/skels/group_option.cc
/src/skels/group_option.h
/src/skels/handle_help.cc
/src/skels/handle_help.h
/src/skels/handle_version.cc
/src/skels/handle_version.h
/src/skels/header.cc
/src/skels/header.h
/src/skels/init_args_info.cc
/src/skels/init_args_info.h
/src/skels/multiple_fill_array.cc
/src/skels/multiple_fill_array.h
/src/skels/multiple_opt_list.cc
/src/skels/multiple_opt_list.h
/src/skels/option_arg.cc
/src/skels/option_arg.h
/src/skels/print_help_string.cc
/src/skels/print_help_string.h
/src/skels/required_option.cc
/src/skels/required_option.h
/src/skels/reset_group.cc
/src/skels/reset_group.h
/src/skels/update_given.cc
/src/skels/update_given.h
/src/tests/test_specialchars
/stamp-h1
/tests/canonize-names
/tests/canonize-names-cmd.c
/tests/canonize-names-cmd.h
/tests/cmdline.c
/tests/cmdline.h
/tests/default_cmdline
/tests/default_values
/tests/default_values_cmd.c
/tests/default_values_cmd.h
/tests/more_than_once
/tests/more_than_once_cmd.c
/tests/more_than_once_cmd.h
/tests/no_multi_strings
/tests/no_multi_strings_cmd.c
/tests/no_multi_strings_cmd.h
/tests/no_multi_types
/tests/no_multi_types_cmd.c
/tests/no_multi_types_cmd.h
/tests/no_optgiven
/tests/no_optgiven2
/tests/no_optgiven_cmd.c
/tests/no_optgiven_cmd.h
/tests/no_prog_name
/tests/no_strings
/tests/no_strings_cmd.c
/tests/no_strings_cmd.h
/tests/no_unnamed
/tests/no_unnamed_cmd.c
/tests/no_unnamed_cmd.h
/tests/output_dir/cmdline.c
/tests/output_dir/cmdline.h
/tests/output_dirs/c/cmdline.c
/tests/output_dirs/h/cmdline.h
/tests/test_align_cmd.c
/tests/test_align_cmd.h
/tests/test_all_opts
/tests/test_all_opts.save
/tests/test_all_opts_cmd.c
/tests/test_all_opts_cmd.h
/tests/test_all_opts_option_help
/tests/test_conf.conf
/tests/test_conf_inc.conf
/tests/test_conf_parser
/tests/test_conf_parser.save
/tests/test_conf_parser_cmd.c
/tests/test_conf_parser_cmd.h
/tests/test_conf_parser_file_save
/tests/test_conf_parser_ov
/tests/test_conf_parser_ov2
/tests/test_conf_parser_ov2.c
/tests/test_conf_parser_ov3
/tests/test_conf_parser_ov3.c
/tests/test_conf_parser_ov4
/tests/test_conf_parser_ov4.c
/tests/test_first_cmdline_cmd.c
/tests/test_first_cmdline_cmd.h
/tests/test_groups
/tests/test_groups_cmd.c
/tests/test_groups_cmd.h
/tests/test_groups_option_help
/tests/test_main_cmdline_cmd.c
/tests/test_main_cmdline_cmd.h
/tests/test_manual_help
/tests/test_manual_help_args
/tests/test_manual_help_args_cmd.c
/tests/test_manual_help_args_cmd.h
/tests/test_manual_help_cmd.c
/tests/test_manual_help_cmd.h
/tests/test_modes
/tests/test_modes_cmd.c
/tests/test_modes_cmd.h
/tests/test_modes_option_help
/tests/test_multiple
/tests/test_multiple.save
/tests/test_multiple_cmd.c
/tests/test_multiple_cmd.h
/tests/test_multiple_parsers
/tests/test_newlines
/tests/test_newlines_cmd.c
/tests/test_newlines_cmd.h
/tests/test_no_handle_help
/tests/test_no_handle_help_cmd.c
/tests/test_no_handle_help_cmd.h
/tests/test_no_options
/tests/test_no_options_cmd.c
/tests/test_no_options_cmd.h
/tests/test_only_flags
/tests/test_only_flags_cmd.c
/tests/test_only_flags_cmd.h
/tests/test_redef_help
/tests/test_redef_help_cmd.c
/tests/test_redef_help_cmd.h
/tests/test_second_cmdline_cmd.c
/tests/test_second_cmdline_cmd.h
/tests/test_sections
/tests/test_sections_cmd.c
/tests/test_sections_cmd.h
/tests/test_sections_option_help
/tests/test_simple_multiple
/tests/test_simple_multiple_cmd.c
/tests/test_simple_multiple_cmd.h
/tests/test_text
/tests/test_text_cmd.c
/tests/test_text_cmd.h
/tests/test_unamed
/tests/test_unamed_cmd.c
/tests/test_unamed_cmd.h
/tests/test_unnamed
/tests/test_unnamed_cmd.c
/tests/test_unnamed_cmd.h
/tests/test_usage
/tests/test_usage_cmd.c
/tests/test_usage_cmd.h
/tests/test_values
/tests/test_values.save
/tests/test_values_cc
/tests/test_values_cmd.c
/tests/test_values_cmd.h

.deps
Makefile
Makefile.in

/tests/*.sh

*.log
*.trs
*.out
*.o
*.lo
*.la
*.a
